body {
 user-select: none; margin: 0px
}
.look {
font-family: noto sans;overflow:auto;height: calc(100% - 50px);align-items: flex-start;flex-flow: column
}
button {
height: 50px; color: white; background-color: #855cd6; border: 0px; font-family: noto sans
}
.nav {
height: 50px; display: flex; flex-direction: row; justify-content="space-between"
}
.logo {
font-size: 25px;
}
.dhdfuhrifiOS {
cursor: pointer
}
